# Node
node_modules/
.next/
out/
build/
npm-debug.log*

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
